* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*home page content*/
.portfolio {
  margin-top: 5%;
  padding: 6%;
  text-align: center;
  height: 100vh;
}
hr {
  margin: 2%;
}
.heading {
  background: #fff;
  padding: 1%;
  text-align: left;
  box-shadow: 0px 0px 4px 0px #545b62;
}
.heading img {
  width: 10%;
}
.bio-info {
  padding: 5%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #b0b3b7;
}
.name {
  font-family: "Charmonman", cursive;
  font-weight: 600;
}
.bio-image {
  text-align: center;
}
.bio-image img {
  width: 60%;
  border-radius: 100%;
}
.bio-content {
  text-align: left;
}
.bio-content p {
  font-weight: 600;
  font-size: 30px;
}
/*homepage content ends here*/

/* card details start  */

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i");
section {
  padding: 100px 0;
}
.details-card {
  background: #ecf0f1;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1abc9c;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}
.card-img span h4 {
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}
.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.btn-card {
  background-color: #1abc9c;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.btn-card:hover {
  background: orange;
}
a.btn-card {
  text-decoration: none;
  color: #fff;
}
/* End card section */

/*contact form*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#contact {
  background: rgb(30, 30, 40);
  padding: 3%;
}
form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

/*contact form ends here */

/*foooter starts*/

/*footer ends */

/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/
